.cartWidget {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cartWidget > h6 {
    position: absolute;
    background: red;
    padding: 6px;
    border-radius: 100%;
    color: white;
  }